.receipt-row {
    margin-bottom: 20px; /* Adiciona um espaçamento entre os recibos */
}

.receipt-divider {
    border-top: 1px solid #ccc; /* Linha de separação */
    margin: 10px 0; /* Espaço acima e abaixo da linha */
}


